
<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Portfolio - Site</title>

   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="../static/js/signUp.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="showLogin">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dados do Site</h3>
      </div>

      <div class="jumbotron">
        <form class="form-signin">
        <label for="inputName" class="sr-only">Nome</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Nome do Site" required autofocus>
        <label for="inputMensagem" class="sr-only">Email</label>
        <input type="email" name="inputMensagem" id="inputMensagem" class="form-control" placeholder="Mensagem para os usuarios" required>

        <button id="btnNewSite" class="btn btn-lg btn-primary btn-block" type="button">Salvar</button>
      </form>
      </div>

      <footer class="footer">
        <p>&copy; Data Science Academy by Diogo Marinho</p>
      </footer>

    </div>
  </body>
</html>

